{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>My To-do list</h1>
    <table>
      <tr>
        <th>Item</th>
      </tr>
      {% for list in object_list %}
      <tr>
        <td>{{ list.title }}</td>
        <td><a href="{% url 'task_detail' list.id %}">View Details</a></td>
      </tr>
      {% empty %}
      <h4>No tasks available</h4>
      {% endfor %}
    </table>
  </body>
</html>
