{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Task Detail</title>
  </head>
  <body>
    <p>
      {% if user.is_authenticated %}Welcome, {{ user.username }}!{% endif %}
    </p>
    <h1>Task Detail</h1>
    <button><a href="{% url 'task_list' %}"> Go back</a></button>
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    <p>
      Status: {% if task.completed %}
      <strong style="color: green">Completed</strong>
      {% else %}
      <strong style="color: red">Not Completed</strong>
      {% endif %}
    </p>
  </body>
</html>
